<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--This needs to exist for MSTestHacks to dynamically add the 
      datasources (Unless your running as administrator)-->

  <appSettings>
    <!-- Below is an example of usage for ExclusionRegEx -->
    <!--<add key="ExclusionRegEx" value=".Exclusions.PublicProperty"/>-->
  </appSettings>
</configuration>